body {
     line-height: 1.6;
     font-family: Arial, sans-serif;
     padding: 2rem;
     margin: 0px;
     box-sizing: border-box;
     background-color: #3C3D37;
     color: #ECDFCC;
     display: flex;
     flex-direction: column;
     max-width: 500px;
     gap: 10px;
}

button {
     padding: 10px 20px;
     font-size: 1em;
     font-weight: 800;
     background-color: #697565;
     color: #ECDFCC;
     border: none;
     cursor: pointer;
}

button:hover {
     background-color: #0056b3;
}

input {
     padding: 10px;
}
ul {
     list-style-type: none;
     padding: 0;
}

li {
     margin: 5px 0;
}